@{
    ViewData["Title"] = "About";
}
<body>

<div class="text-center">
    <h1>Get to Know Joel</h1>
    <p>Check out some of Joel's work and performances below:</p>

    <hr />

    <h3>The Man, The Myth, The Legend</h3>
    <a href="https://baconsale.com/">
        <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg" 
             alt="Joel Hilton" 
             style="width:300px; border-radius: 10px;">
    </a>

    <br><br>

    <ul>
        <li>
            <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> 
            (Where Joel performs regularly)
        </li>
        <li>
            <a href="https://baconsale.com/" target="_blank">Baconsale</a> 
            (Joel's podcast site)
        </li>
    </ul>
</div>

</body>
