
@model Mission6.Models.Movie

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Movie was recieved! Thank you!</h2>
</div>
</body>
</html>