@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>He looks like this!</p>
    <img src="~/img/joel.jpg"/>
</div>